/*Cabeçalho*/
header {
    background-color: #415bbc;
    height: 4rem;
}

.nav-bar{
    display: flex;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: #415bbc;
    
}



.nav-itens {
    list-style: none;
    display: flex;  
}

.nav-itens>li>a {
    padding-left: 30px;
    color: white;
    text-decoration: none;
    
}

.Entrar {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6985D6;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
}

.Cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #F6823F;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover {
    background-color: #3d3d3d;
    transition: 1s background;
}

footer {
    background-color: #415bbc;
    height: 10rem;
    padding-top: 10px;
    border: auto;
}



.img-logo-cabecalho {
    height: 6rem;
    width: 6rem;
    
    
}