/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos perfil de usuario*/
.main-content {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.profile {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.text-sald{
  color:#F6823F;
  font-weight: bold;
  left: 60px;
  position: relative;
  bottom: 50px;
  font-size: 20px;
}
.container-form{
  width: 500px;
  height: 300px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 14px -1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 2px 14px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 14px -1px rgba(0, 0, 0, 1);
}

.profile-image {
  margin-bottom: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Isso vai deixar a imagem arredondada */
  object-fit: cover;
  border: 2px solid #ccc;
}


.upload-button {
  display: block;
  background-color: #F6823F;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
}

.profile-details {
  text-align: center;
}

.profile-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
}

.btn-salvar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Cabeçalho */
.cabecalho {
  background-color: #415bbc;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #415bbc;
}

.buttons {
  position: absolute;
  right: 10px;
  top: 20px;
  padding: 10px;
}

.nav-itens {
  list-style: none;
  display: flex;
  padding-top: 20px;
}

.nav-itens > li > a {
  padding-left: 40px;
  color: white;
  text-decoration: none;
}

.Entrar, .Cadastro {
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.Entrar {
  background-color: #6985D6;
}

.Cadastro {
  background-color: #F6823F;
  transition: background-color 1s;
}

.Cadastro:hover {
  background-color: #3d3d3d;
}

.img-logo-cabecalho {
  height: 6rem; /* Altura da logo ajustada */
  width: auto; /* Largura ajustada automaticamente */
}