/* CSS ajustado */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main {
  background-color: #fff9eb;
}
/*Cabeçalho*/
.cabecalho {
  background-color: #415bbc;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-bar{
  display: flex;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  align-items: center;
  color: #415bbc;
}

.buttons{
  position: absolute;
  right: 10px;
  top: 20px;
  padding-top: 10px;
  padding-right: 10px;
}


.nav-itens {
  list-style: none;
  display: flex;
  padding-top: 20px;
}

.nav-itens>li>a {
  padding-left: 40px;
  color: white;
  text-decoration: none;

}

.Entrar {
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #6985D6;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-decoration: none;

}

.Cadastro {
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #F6823F;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 1s background;
  text-decoration: none;
}

.cadastro:hover {
  background-color: #3d3d3d;
  transition: 1s background;
}

.img-logo-cabecalho {
  height: 6rem;
  width: 6rem;
  padding-top: 10px;

}

/*Footer*/

footer {
  background-color: #415bbc;
  padding: 2vw 0;
  text-align: center;
  border: auto;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 10rem;
}

.container {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.container-text{
  padding-top: 30px;
}

.logo {
  height: 8rem;
  width: 12rem;
  margin-right: 10px;
}



/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define estilos para todos os elementos */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Container principal da página */
.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 70vh;
}

/* Container footer*/
.container {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Estilos para o cartão */
.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060
}

/* Estilos para os títulos */
h3{
  text-align: center;
  margin-bottom: 20px;
  color: #0d009c;

}
/* Estilos para os inputs dentro de .label-float */
.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #272262;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;

}

/* Estilos para .label-float */
.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Estilos para o input dentro de .label-float quando focado */
.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

/* Estilos para o label dentro de .label-float */
.label-float label{
  color: #272262;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

/* Estilos para o input dentro de .label-float quando focado ou válido */
.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

/* Estilos para botões */
button{
  background-color: transparent;
  border-color: #272262;
  color: #272262;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

/* Estilos para botões quando o mouse está sobre */
button:hover{
  background-color: #272262;
  color: #fff;
}

/* Estilos para centralizar */
.justify-center{
  display: flex;
  justify-content: center;
}

/* Estilos para links quando o mouse está sobre */
a:hover{
  color: #272262;
}


/* Estilos para o ícone de olho */
.bi-eye-fill, .bi-eye-slash{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #272262;
}

/* Estilos para mensagens de erro */
 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

/* Estilos para links de recuperação de senha */
.forgot-password-link {
  margin-top: 20px;
}

/* Estilos para links de recuperação de senha */
.forgot-password-link {
  color: #4038a0;
  font-size: 14px;
  margin-top: 10px;
}